<div class="content__wrapper">
    <a href="{{ entry.url }}" class="content__link">
        {% if entry.entryImage|length %}
            {% for image in entry.entryImage.all() %}
                <img src="{{ image.url }}"
                    alt="{{ entry.title }}"
                    class="content__img"
                    width="350"
                    height="229">
            {% endfor %}
        {% endif %}
        <div class="hover-text">
            <time datetime="{{ entry.postDate|date('Y-m-d') }}">
                {{ entry.postDate|date('M d,Y', timezone='UTC', locale='en-US') }}
            </time>    
            <div class="content__category">
                <span>CATEGORY</span>
                <p>
                    {% if entry.entryTag|length %}
                        {{ entry.entryTag.one().title ?? '企業サイト・事務所・ビジネス' }}
                    {% endif %}
                </p>
            </div>                      
        </div>
    </a>   
    <h3 class="content__title">
        <a href="{{ entry.url }}">{{ entry.title }}</a>
    </h3>
    <p class="content__url">{{ entry.entryUrl }}</p>
</div>
